*{
    margin:0%;
    padding:0%;
    box-sizing: border-box; 
 }

 #authFormContainer{
  grid-column:1/2;
   background-color: var(--bg-color);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
 }
 .toggleContainer{
   font-family:monospace;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    color: var(--white);
    font-size:30px;
 }

#landingPageContainer{
  height: 100vh;
  font-family: monospace;
  width:100%; 
  background:linear-gradient(rgba(0, 0, 0, 0.404), rgba(0, 0, 0, 0.603)),
  url("../../../img/backgroundImgs/burgerBG.jpg") no-repeat center / cover;
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  color:aliceblue;
}
#headerContainer{
  font-size: 30px;
  color:rgb(253, 250, 250);
  grid-column:2/-1;
  display:flex;
  justify-content: flex-end;
  align-items: flex-start;
}
#introContainer{
  grid-column: 1/2;
}

/*******profile page*****/
#profilePageContainer{
  height: 100vh;
  font-family: monospace;
  width:100%; 
  background:linear-gradient(rgba(0, 0, 0, 0.404), rgba(0, 0, 0, 0.603)),
  url("../../../img/backgroundImgs/burgerBG.jpg") no-repeat center / cover;
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  color:aliceblue;
}