*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
 }

#landingPageContainer{
    height: 100vh;
    font-family: monospace;
    /* width:100%; */
    background:linear-gradient(rgba(0, 0, 0, 0.404), rgba(0, 0, 0, 0.411)),
    url("../../img/backgroundImgs/burgerBG.jpg") no-repeat center / cover;
    display:grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    color:aliceblue;
}
